<%- include("./header.ejs")%>

<div class="container" style="width: 50%; margin-top: 2em;">
<form method="POST" action="/producto/agregar">
    <div class="form-group">
        <input type="text" class="form-control" name="nombre" placeholder="nombre">
        </div>
    <div class="form-group">
        <input type="text" class="form-control" name="img" placeholder="img">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
