
<%- include("./header.ejs")%>

<div class="container">
    <h1>Productos</h1>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% productos.forEach(function(producto){ %>
        <div class="col-md-3 d-flex">
            <div class="card" style="width: 20rem;">
                <img src="<%= producto.image %>" class="card-img-top" alt="20">
                <div class="card-body flex-fill">
                    <h5 class="card-title"><%= producto.nombre %>
</h5>
                    
                    <a href="" class="btn btn-primary">ver producto</a>
                </div>
            </div>
        
            
        </div>
            <%})%>
    </div>

    </div>


